# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 15.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 2.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 62.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 7.0 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [2]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [11]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'MariaFernandez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [12]:
if not database_exists(engine.url):
    create_database(engine.url)

In [13]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL", con = engine )

ValueError: ignored

In [14]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [15]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT(LandingOutcome)  FROM SPACEXTBL """
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome
0      None None
1    False Ocean
2     True Ocean
3     False ASDS
4      None ASDS
5      True RTLS
6      True ASDS
7     False RTLS

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [16]:
query = """ SELECT *
            FROM SPACEXTBL
            WHERE LaunchSite LIKE '%CCS%' limit 5  """
          
df  = pd.read_sql(query, con = engine )
df

,level_0,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [17]:
query = """ SELECT Date,
            Sum(PayloadMass),
            Customers
            FROM SPACEXTBL
            WHERE Customers = "NASA (CRS)" """
          
df  = pd.read_sql(query, con = engine )
df

         Date  Sum(PayloadMass)   Customers
0  2013-03-01           47094.7  NASA (CRS)

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [18]:
query = """ SELECT 
            round(AVG(PayloadMass)) as "Masa Media",
            Serial
            FROM SPACEXTBL
            WHERE serial LIKE 'B1%'
            Group by serial """
          
df  = pd.read_sql(query, con = engine )
df

    Masa Media Serial
0        500.0  B1003
1       3170.0  B1004
2       3325.0  B1005
3       2296.0  B1006
4       1316.0  B1007
5       4535.0  B1008
6       2216.0  B1010
7       4428.0  B1011
8       2395.0  B1012
9        570.0  B1013
10      1898.0  B1015
11      4707.0  B1016
12       553.0  B1017
13      2477.0  B1018
14      2034.0  B1019
15      5271.0  B1020
16      4218.0  B1021
17      4696.0  B1022
18      3100.0  B1023
19      2257.0  B1025
20      4600.0  B1026
21      5500.0  B1028
22      6634.0  B1029
23      5600.0  B1030
24      3845.0  B1031
25      5177.0  B1032
26      6070.0  B1034
27      2456.0  B1035
28      9600.0  B1036
29      6761.0  B1037
30       475.0  B1038
31      2835.0  B1039
32      5187.0  B1040
33      9600.0  B1041
34      3700.0  B1042
35      6124.0  B1043
36      6092.0  B1044
37      1380.0  B1045
38      4918.0  B1046
39      5525.0  B1047
40     10900.0  B1048
41     12777.0  B1049
42      2573.0  B1050
43     12097.0  B1051
44      4400.0  B1054
45      6777.0  B1056
46     10416.0  B1058
47      6044.0  B1059
48     11693.0  B1060
49      3681.0  B1062

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [19]:
query = """ SELECT  min(Date),
            LandingOutcome
            FROM SPACEXTBL
            WHERE LandingOutcome = "TRUE RTLS" """
          
df  = pd.read_sql(query, con = engine )
df

    min(Date) LandingOutcome
0  2015-12-22      True RTLS

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [27]:
query = """ SELECT serial,
            LandingOutcome,
            PayloadMass
            FROM SPACEXTBL
            WHERE LandingOutcome = "TRUE ASDS" AND PayloadMass between 4000 and 6000 """
          
df  = pd.read_sql(query, con = engine )
df

  serial LandingOutcome  PayloadMass
0  B1022      True ASDS       4696.0
1  B1026      True ASDS       4600.0
2  B1021      True ASDS       5300.0
3  B1031      True ASDS       5200.0
4  B1046      True ASDS       5800.0
5  B1046      True ASDS       4000.0
6  B1059      True ASDS       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [24]:
query = """ SELECT count(class) as "Nº Misiones",
            FROM SPACEXTBL
            group by class """
          
df  = pd.read_sql(query, con = engine )
df

   Nº Misiones
0           30
1           60

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [38]:
query = """ SELECT 
           Max(PayloadMass) 
            FROM SPACEXTBL
            
            """
          
df  = pd.read_sql(query, con = engine )
df

   Max(PayloadMass)
0           15600.0

In [40]:
query = """ SELECT serial,
            PayloadMass
            FROM SPACEXTBL
            where PayloadMass =( SELECT 
           Max(PayloadMass) 
            FROM SPACEXTBL)
            
            """
          
df  = pd.read_sql(query, con = engine )
df

   serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
5   B1051      15600.0
6   B1049      15600.0
7   B1059      15600.0
8   B1049      15600.0
9   B1060      15600.0
10  B1058      15600.0
11  B1051      15600.0
12  B1060      15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [70]:

query = """ SELECT class, serial,DATE, LandingOutcome,LaunchSite
            FROM SPACEXTBL
            where LandingOutcome LIKE '%None%' or LandingOutcome LIKE '%false%' 
            HAVING EXTRACT(YEAR FROM Date) = 2015  """
df  = pd.read_sql(query, con = engine )
df

   class serial        DATE LandingOutcome    LaunchSite
0      0  B1012  2015-01-10     False ASDS  CCSFS SLC 40
1      0  B1015  2015-04-14     False ASDS  CCSFS SLC 40
2      0  B1016  2015-04-27      None None  CCSFS SLC 40
3      0  B1018  2015-06-28      None ASDS  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [73]:
query = """ SELECT 
        LandingOutcome,
        count(LandingOutcome) as "Nº DE LANZAMIENTOS"
            FROM SPACEXTBL
            group by LandingOutcome """
          
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome  Nº DE LANZAMIENTOS
0     False ASDS                   6
1    False Ocean                   2
2     False RTLS                   1
3      None ASDS                   2
4      None None                  19
5      True ASDS                  41
6     True Ocean                   5
7      True RTLS                  14